body{
    background-color: rgba(250, 248, 248, 0.888);
    padding: 25px;
}

#Compañia {
    display: inline-block;
    block-size: auto;
    width: 380px;
    border-color: transparent;
    background:none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 1em;
}

#Logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
    height: 75px;
}

#Titulo{
    display: block;
    block-size: auto;
    font-style: italic;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#Slogan{
    display: block;
    block-size: auto;
    font-size:15px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#Botones{
    float: right;
    margin-right: 15px;
}

#inicio{
    border-color: transparent;
    background: none;
}

#vinculo1{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo1:focus{
    color: #54a31b;
}
#vinculo1:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}


#Registrarse{
    border-color: transparent;
    background: none;
}

#vinculo2{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo2:focus{
    color: #54a31b;
}

#vinculo2:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#contacto{
    border-color: transparent;
    background: none;
    
}

#vinculo3{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo2:focus{
    color: #54a31b;
}

#vinculo3:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#foto1{
    height: 200px;
}

#foto2{
    height: 200px;
}

#foto3{
    height: 200px;
}
#carta1{
    float: left;
    width: 18rem;
    margin-right: 100px;
}

#carta2{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    margin-right: 95px;
}

#carta3{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    margin-right: 95px;
}

#carta4{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    
}

#carta5{
    width: 18rem;
    display: block;
    block-size: auto;
    margin-top: 100px;
}

#carta6{
    position: relative;
    width: 18rem;
    display: inline-block;
    block-size: auto;
    top: -285px;
    left: 390px;
    margin-right: 95px;
}

#carta7{
    position: relative;
    width: 18rem;
    display: inline-block;
    block-size: auto;
    top: -285px;
    left: 390px;
    margin-right: 95px;
}

#carta8{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    top: -285px;
    left: 390px;
}

