#fotoIzquierda{
    display:block;
    width: 390px;
    height: 180%;
    margin-left: -285px;
}



#fotoDerecha{
    display:block;
    width: 390px;
    height: 180%;
    margin-left: 60%;
}

#carousel{
    display:block;
    width: 900px;
    margin-left: -20%;
    position: relative;
    top: 50px;
}
#foto2{
    height: 323px;
}
